.header{

}
/********/
/* FLEX */
/********/

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-items-flex-end{
    align-items: flex-end
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-reverse-row{
    flex-direction: row-reverse;
}

/********/
/*COLORS*/
/********/
.primary-color-bg{
    background-color: blue;
}

.primary-color-bg{
    background-color: rbga(0,0,0,0.5);
}

/*******/
/*CUSTOM*/
/*******/
.form-margin{
    
}
.divder{

}

.services-width{

}

.service-title{

}
.nav-button{

}

.p-relative{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mainImage{
    /* Need this */
}

.content{
    position: absolute;
}

.logo{

}


